*{
    box-sizing:border-box;
}

.header{
    background-color: #f2f2f5;

}

.layout-1{
    display: inline-block;
    background-image: url("img/man.jpg");
    background-size: cover;
    padding: 310px;
}
.layout-2{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-top: 100px;
    padding-left: 50px;

}
.layout-2 h5{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    margin: 5px 5px;
    color:#111111;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: left;


}
.layout-2 h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: #3870bb;
    line-height: 79.2px;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    margin: 0;


}
.text {

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 28.8px;
    text-align: left;
    margin: 20px auto 8px 0;
    font-weight:400;
    padding-right: 150px;
    padding-top: 20px;
}
.description p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 25.6px;
    text-align: left;
    margin: 8px auto 40px auto ;

}
.description-link{
    color: #111111;

}
.description-link1{
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background-color: #111111;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    margin: 40px auto 20px auto;
    padding: 10px 52px 10px 51px;
    text-decoration: none;


}