body, h1, h2, p {
    margin: 0;
    padding: 0;
    text-align: justify;
}

img {
    float: left;
}

#wrapper {
    width: 870px;

    margin: 0 auto;
    padding: 0;
}

header {
    height: 200px;

    background-image: url("2.jpg")

}

header b, header h2 {
    color: white;
    padding: 40px;
}

main {
    /*width:650;*/
    margin-left: 200px;
    padding: 20px;

}

aside {
    width: 200px;
    height: 100%;
    float: left;
    font-size: 11pt;

}

img.sise-sidebar {
    max-width: 180px;
}

#padding-sidebar {
    padding: 10px;
}

footer {
    height: 200px;

    text-align: center;
    font-weight: bold;
}


.clearfix {
    clear: both;
}