body{
    height: 720px;
}

.header{
    margin-left: 100px;
}

.text{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-top:10px;
}
.text a{
    text-decoration: none;
    color: #111111;
}
.main{
    background-color: #34421E;
    width: calc(((100% - 1140px) / 2) + 1140px);
    height: 625px;
    margin: 0 auto 0 0;
    position: relative;
}

.parent{
    width: 560px;
    height: 315px;
    margin-top: 0;
}

.parent h1{
    color: rgb(255,255,255);
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 105px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    padding-left: 100px;
    padding-top: 140px;
    z-index: 2;
    margin-top: 10px;
}

.child img{
    width:940px;
    height: 590px;
    position: absolute;
    top: 45px;
    left:245px;
}
.child p{
    word-wrap: break-word;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 330px ;
    line-height: 26px;
    text-align: left;
    padding-left: 550px;
    padding-top: 370px;
    padding-right: 10px;

}

