*{
    box-sizing: border-box;
}
body{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 8vh 70vh 8vh 8vh 8vh 8vh 8vh;
    grid-gap: 2rem;
    margin: 20px;
    font-size: 20px;

}
header{
    background-color: #b7b7e0;
    grid-column: 1/ span 4;
    display: grid;
    justify-items: center;
    align-items: center;

}
aside{

    background-color: #c79292;
    grid-row: 2;
    display: grid;
    justify-items: center;
    align-items: center;
}

aside.left{
    order:-1;
}
aside.right{
    order:1;

}
main{
    grid-column: span 2;
    order:0;
    grid-row: 2;

}

.red{
    height: 8vh;
    background-color: #c47070;
    margin-bottom: 18px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.grey{
    height: 59vh;
    background-color: gray;
    display: grid;
    justify-items: center;
    align-items: center;
}


.item1{
    grid-column: span 4;
    background-color: #e8e880;


}
.item2, .item3{
    grid-column: span 2;
    background-color: aquamarine;
}

.item4,.item5, .item6, .item7{
    background-color: #f5f544;
    height: 8vh;
}
.item9{
  grid-area: 6/2/6/4
}
.item8,.item9,.item10{
    background-color: #669366;

}

.item11{
    height: 8vh;
    background-color: #878686;
    grid-column: span 4;
}

.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9,.item10,.item11 {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 20px;
}
