@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');


body {
    width: 600px;
    background: aliceblue;
    font-family: 'Roboto Slab', serif;
}

.first {
    background: beige;
    width: 400px;
    padding: 25px;
    box-sizing: content-box;
    margin: 50px
}

.second {
    background: #bddebd;
    margin: 50px;
    padding: 100px;
    border: 15px dotted #777777;
    box-sizing: border-box;
    width: 450px;
}

