* {
    box-sizing: border-box;
}

.layout {

    /*display: inline-block;*/
    width: 70%;
    text-align: center;
    padding: 120px 115px 30px 136px;
    /*vertical-align: middle;*/

}

.layout h4 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;

}

.layout h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #f1c50e;
    line-height: 1.1;
    font-weight: 700;
}

.layout p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
    color: #111111;
}

.layout a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #f1c50e;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 60px auto 0;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    display: table;
    font-weight: 400;
}

.layout-1 {
    display: inline-block;
    background-image: url("./img/lemons.jpeg");
    background-size: cover;
    padding: 331px;
    vertical-align: middle;
}

body{
    /*background-size: revert;*/
    background-position: right;
    width: 80%;
}

section{
    background-image: url("./img/lemons.jpeg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50%;
}